{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'portfolio/master.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="{% static 'portfolio/knowledge.png' %}" type="image/x-icon">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <title>Yash Kashyap</title>
  </head>
  <body style="background-color: #f6f6f6; background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);">

    <!-- Navbar -->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'portfolio/knowledge.png' %}" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="{% url 'home' %}"><strong style="font-size:1.5rem">Yash Kashyap</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% static 'portfolio/Resume.pdf' %}" target="_blank">Resume</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://www.linkedin.com/in/yash-kashyap-883146179">LinkedIn</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://www.github.com/yashkashyap/">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" href="{% url 'blog:all_blogs' %}">Blogs</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <hr class="container", style="border-style: solid; border-color:#7c7d7a; opacity:0.5">
    <!-- <p class="class">5rem</p> -->
    <!-- Content -->
    {% block content %}{% endblock %}

  </body>
</html>
